extends page
block page
  div.reading-text.l--align-center.foreground--error.background__color--neutral-mod-soft
    h2 Página no encotrada
    a(href="/")
      div.background__color--neutral-soft.spacer__margin-bottom--size-xlarge.foreground__color--neutral-loud(class=blocks['container--rounded-xpadded'])
        p 
          span(aria-hidden="true" data-icon!="&#xe622;")  
          strong Volver atras
