extends page
block page
  include menu
  script
    $(document).ready(function(){$("html, body").animate({ scrollTop: $('#about').offset().top }, 1000);});
  section#about.animated.fadeInUp.l-col--12-of-12.background__color--neutral-mod-soft.bg__texture--noise-light.spacer__padding-right--size-large.spacer__padding-left--size-small.spacer__padding-top--size-xxlarge.spacer__padding-bottom--size-large.l--align-center
    article.l.l-col--10-of-12.l--last.l-col--10-of-12-sm.l--last-sm.spacer__padding-top--size-small(class=blocks['text-area--neutral']) 
      div(class=blocks['media__figure--xlarge'])
        img.img--full-size(src='/images/girl-painting.jpg')
      div(class=blocks['media__content--xlarge'])
        h3 Hello!
        p.spacer__margin-bottom--size-large.l I am a developing artist from 
          strong New York City
          | , working primarily with oil and acrylic paints. In my work, I like to play with the portrayal of human emotions through portraits. I find my inspiration from everyday occurrences and objects I encounter in the diverse city that surrounds me, working to add my own style to the canvas. 
