extends page
block page
  article#intro.l--align-center
    div.l.l-col--6-of-12.l-col--3-of-12-sm.l--absolute-bottom-left.l--last.l--last-sm
      img.l--absolute-bottom-left.img--full-size.animated.fadeInLeft(src='/images/face.png')
    div.l.l-col--2-of-12.l-col--1-of-12-sm.l--absolute-top-right.l--last.l--last-sm
      img.img--full-size.animated.fadeInRight(src='/images/sun.png')
    div.l-col--12-of-12.l--last.l--last-sm.l--absolute-middle.l--align-center
      a(href='/index')
        img.l-col--6-of-12.l-col--4-of-12-sm.l--last.l--last-sm.animated.fadeInDownBig(src="/images/signature-flat.png" alt="Kara Pixie Signature")
        div(class=blocks['text-area--neutral-soft'])
          h4.font--secondary.animated.fadeInUpBig Kara Pixie


