extends page
block page
  include background
  article.l--align-center
    div.l-col--12-of-12.l--last.l--last-sm.l--absolute-middle.l--align-center
      a(href='/index')
        img.l-col--6-of-12.l-col--4-of-12-sm.l--last.l--last-sm.animated.fadeInDownBig(src="/images/signature-flat.png" alt="Kara Pixie Signature")
        div(class=blocks['text-area--neutral-soft'])
          h4.font--secondary.animated.fadeInUpBig Kara Pixie


