section.l--fixed-right-middle.l--last.background__color--neutral-very-loud(class=blocks['island--small'] class=blocks['text-area--neutral-soft']) 
  div
    a(href='/lang/es')
      img.icon--xsmall(src='/images/Spain-Flag.png')
      |  ES
  div
    a(href='/lang/en')
      img.icon--xsmall(src='/images/United-Kingdom-flag.png')
      |  EN
