div.spacer__margin-top--size-small
  section.l-col--12-of-12.spacer__margin-bottom--size-xlarge
    article.animated.fadeInDown.l--align-center
      div.l.l-col--6-of-12.l-col--3-of-12-sm.l--last.l--last-sm.l-self--align-middle.l-self--relative.spacer__padding-left--size-small
        a(href='/index')
          img.img--full-size(src="/images/signature-flat.png" alt="Kara Pixie Signature")
      div(class=blocks['text-area--neutral'])
        nav.l.l-col--10-of-12.l-col--10-of-12-sm.l--last.l--last-sm.l-self--align-middle
          ul.list--no-style.list--horizontal.l--align-center(class=blocks['island--small'])
            li
              a(href="/work") Work   
            li
              a(href="/about") About Me
            li
              a(href="/contact") Contact
   
 
 
 
 
 
