doctype html
html
  head
    title Kara Pixie | Fine Art
    meta(http-equiv="content-type" content="text/html;charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
    //Stylesheets we would like cleaned 
    //build:css /min-css/style-min.css 
    link(rel='stylesheet', href='/stylesheets/pop-up.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css')
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    // /build
    // polyfill CSS Media-Queries
    // polyfill HTML5
    //[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]
    link(rel="shortcut icon" href='images/favicon.ico')
    link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css')
  body.l-grid.l-grid--align-center.background__color--neutral-very-loud.bg__texture--noise-light
    block page
    div.modal
    // polyfill CSS Media-Queries
    script(src="/javascripts/respond.min.js")
    script(src="/javascripts/magnific.js")
    //script(src="/javascripts/elevateZoom.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js")
    script(src="http://hayageek.github.io/jQuery-Upload-File/jquery.uploadfile.min.js")
    script(src="/javascripts/widgets.js")
    // slideshow
    //script(src="/javascripts/responsiveslides.min.js")
    script(src="/javascripts/picturefill/external/matchmedia.js")
    script(src="/javascripts/picturefill/picturefill.js")
    // google
    script(src="/javascripts/analytics.js")
