div.slideshow
  ul.rslides
    li
      figure(data-picture data-alt="Viñas")
        figure(class="small" data-src="/images/vinas--small.jpg")
        figure(class="medium" data-src="/images/vinas--medium.jpg" data-media="(min-width: 400px)")
        figure(class="medium" data-src="/images/vinas--large.jpg" data-media="(min-width: 800px)")
        figure(class="medium" data-src="/images/vinas--xlarge.jpg" data-media="(min-width: 1000px)")
        noscript
          img(src="/images/vinas--medium.jpg")
      p.slideshow__caption= __("slideshow 1")   
    li
      figure(data-picture data-alt="Barricas")
        figure(class="small" data-src="/images/barrels--small.jpg")
        figure(class="medium" data-src="/images/barrels--medium.jpg" data-media="(min-width: 400px)")
        figure(class="medium" data-src="/images/barrels--large.jpg" data-media="(min-width: 800px)")
        figure(class="medium" data-src="/images/barrels--xlarge.jpg" data-media="(min-width: 1000px)")
      p.slideshow__caption= __("slideshow 2")   
    li
      figure(data-picture data-alt="Patio interior")
        figure(class="small" data-src="/images/patio-int--small.jpg")
        figure(class="medium" data-src="/images/patio-int--medium.jpg" data-media="(min-width: 400px)")
        figure(class="medium" data-src="/images/patio-int--large.jpg" data-media="(min-width: 800px)")
        figure(class="medium" data-src="/images/patio-int--xlarge.jpg" data-media="(min-width: 1000px)")
      p.slideshow__caption= __("slideshow 3")  
    li
      figure(data-picture data-alt="Campo de olivos")
        figure(class="small" data-src="/images/olives--small.jpg")
        figure(class="medium" data-src="/images/olives--medium.jpg" data-media="(min-width: 400px)")
        figure(class="medium" data-src="/images/olives--large.jpg" data-media="(min-width: 800px)")
        figure(class="medium" data-src="/images/olives--xlarge.jpg" data-media="(min-width: 1000px)")
      p.slideshow__caption= __("slideshow 4")    



 
 
 
 
 
