section.l-col--12-of-12.spacer__padding-right--size-small.spacer__padding-left--size-small.spacer__padding-top--size-small.spacer__padding-bottom--size-large
  article.l-self--align-right(class=blocks['text-area--primary'])
    div.l.l-col--12-of-12.l-col--6-of-12-sm
      h3 
        span I love 
        | what i do
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | In consectetur metus sed metus facilisis tincidunt. 
        | Praesent fermentum dui vel justo lacinia iaculis. Donec posuere commodo posuere. 
        | Maecenas scelerisque congue lobortis. Ut congue imperdiet massa, eget consectetur eros varius sit amet
