extends content/page
block page
  div.reading-text.l--align-center.foreground--error.background__color--neutral-very-loud(class=blocks['text-area--neutral-soft'])
    h3 Page not found
    a(href="/index")
      div.background__color--neutral-soft.spacer__margin-bottom--size-xlarge.foreground__color--neutral-loud(class=blocks['container--rounded-xpadded'])
        p 
          span(aria-hidden="true" data-icon!="&#xe622;")  
          strong Volver atras
