.background__color--primary-very-soft {
  background-color: #ead1a5;
}
.background__color--primary-soft {
  background-color: #e4c38a;
}
.background__color--primary-mod-soft {
  background-color: #deb56f;
}
.background__color--primary-default {
  background-color: #d6a34b;
}
.background__color--primary-mod-loud {
  background-color: #ab823c;
}
.background__color--primary-loud {
  background-color: #e87600;
}
.background__color--primary-very-loud {
  background-color: #a25200;
}
.background__color--secondary-very-soft {
  background-color: #cf8e9a;
}
.background__color--secondary-soft {
  background-color: #b75567;
}
.background__color--secondary-mod-soft {
  background-color: #9f1d35;
}
.background__color--secondary-default {
  background-color: #900020;
}
.background__color--secondary-loud {
  background-color: #6c0018;
}
.background__color--secondary-very-loud {
  background-color: #480010;
}
.background__color--tertiary-very-soft {
  background-color: #d1e199;
}
.background__color--tertiary-mod-soft {
  background-color: #9bbf21;
}
.background__color--tertiary-default {
  background-color: #8db600;
}
.background__color--tertiary-loud {
  background-color: #698800;
}
.background__color--tertiary-very-loud {
  background-color: #465b00;
}
.background__color--neutral-very-soft {
  background-color: #fefdff;
}
.background__color--neutral-soft {
  background-color: #edeadc;
}
.background__color--neutral-mod-soft {
  background-color: #d8d8d8;
}
.background__color--neutral-regular {
  background-color: #808080;
}
.background__color--neutral-mod-loud {
  background-color: #555;
}
.background__color--neutral-loud {
  background-color: #3b3b3b;
}
.background__color--neutral-very-loud {
  background-color: #1e1e1e;
}
.background__color--flash-alert {
  background-color: #c00;
}
.background__color--flash-default {
  background-color: #edeadc;
}
.background__color--flash-success {
  background-color: #090;
}
.bg__texture--noise {
  background-image: url("/images/textures/noise.png");
}
.bg__texture--granular {
  background-image: url("/images/textures/granular.png");
}
.bg__texture--noise-light {
  background-image: url("/images/textures/noise-light.png");
}
.bg__image--tree {
  background-image: url("/images/tree.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}
.bg__image--face {
  background-image: url("/images/face.png");
  background-size: 10%;
  background-repeat: no-repeat;
  background-position: bottom left;
}
@media only screen and (min-width: 768px) {
  .bg__line--dotted:before {
    content: "";
    border-top: dotted 3px #fff;
    width: 78%;
    height: 1px;
    position: absolute;
    top: 45%;
    left: 45px;
    z-index: 0;
  }
}
.bg__gradient--linear-tertiary {
  background: linear-gradient(#76b503, #5c8d03);
}
.bg__gradient--linear-red {
  background: linear-gradient(#c90000, #960000);
}
.bg__gradient--linear-orange {
  background: linear-gradient(#f7dfa5, #f0c14b);
}
.bg__icon--error {
  background: url("/images/error.png") no-repeat scroll 98%;
  background-color: #fefdff;
  background-size: 6%;
  padding-right: 30px;
}
.bg__icon--success {
  background: url("/images/success.png") no-repeat scroll 98%;
  background-color: #fefdff;
  background-size: 6%;
  padding-right: 30px;
}
.container__border--size-xsmall {
  border-width: 1px;
  border-style: solid;
}
.container__border-left--size-xsmall {
  border-left: 1px solid;
}
.container__border--size-small {
  border-width: 4px;
  border-style: solid;
}
.container__border-left--size-small {
  border-left: 4px solid;
}
.container__border--size-medium {
  border-width: 6px;
  border-style: solid;
}
.container__border-left--size-medium {
  border-left: 6px solid;
}
.container__border--size-large {
  border-width: 8px;
  border-style: solid;
}
.container__border-left--size-large {
  border-left: 8px solid;
}
.container__border--style-polaroid {
  border: 8px solid #fff;
}
.container__border-radius--size-xsmall {
  border-radius: 1px;
}
.container__border-radius--size-small {
  border-radius: 4px;
}
.container__border-radius--size-medium {
  border-radius: 6px;
}
.container__border-radius--size-large {
  border-radius: 8px;
}
.container__border-radius--style-circle {
  border-radius: 50%;
}
.container__border-radius--left {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
@media only screen and (min-width: 768px) {
  .container__border-left--size-small-sm {
    border-left: 1px solid;
  }
}
.container__box-shadow--intensity-very-soft {
  box-shadow: 1px 1px 3px #fefdff;
}
.container__box-shadow--intensity-soft {
  box-shadow: 1px 1px 3px #edeadc;
}
.container__box-shadow--intensity-mod-soft {
  box-shadow: 1px 1px 3px #d8d8d8;
}
.container__box-shadow--intensity-regular {
  box-shadow: 1px 1px 3px #808080;
}
.container__box-shadow--intensity-mod-loud {
  box-shadow: 1px 1px 3px #555;
}
.container__box-shadow--intensity-loud {
  box-shadow: 1px 1px 3px #3b3b3b;
}
.container__box-shadow--intensity-very-loud {
  box-shadow: 1px 1px 3px #1e1e1e;
}
.foreground__color--neutral-loud {
  color: #3b3b3b;
}
.foreground__color--neutral-loud h2::first-letter {
  color: #d6a34b;
}
.foreground__color--neutral-loud h3,
.foreground__color--neutral-loud h4 {
  color: #1e1e1e;
}
.foreground__color--neutral-loud input#submit {
  color: #fefdff;
}
.foreground__color--neutral-loud a,
.foreground__color--neutral-loud span {
  color: #1e1e1e;
}
.foreground__color--neutral-loud a {
  border-color: #fefdff;
}
.foreground__color--primary-loud {
  color: #3b3b3b;
}
.foreground__color--primary-loud h3 {
  color: #e87600;
}
.foreground__color--primary-loud h4 {
  color: #d6a34b;
}
.foreground__color--primary-loud td {
  color: #e87600;
}
.foreground__color--primary-loud td span {
  color: #edeadc;
}
.foreground__color--primary-loud th {
  color: #fefdff;
}
.foreground__color--primary-loud a {
  color: #edeadc;
}
.foreground__color--primary-loud li a {
  color: #3b3b3b;
}
.foreground__color--primary-soft {
  color: #fefdff;
}
.foreground__color--primary-soft h3,
.foreground__color--primary-soft h4 {
  color: #d6a34b;
}
.foreground__color--primary-soft h3 span {
  color: #e87600;
}
.foreground__color--primary-soft h5 {
  color: #a25200;
}
.foreground__color--primary-soft a {
  color: #d6a34b;
}
.foreground__color--primary-soft img {
  border-color: #edeadc;
}
.foreground__color--primary-soft .blockquote--large {
  color: #808080;
}
.foreground__color--neutral-soft {
  color: #fefdff;
}
.foreground__color--neutral-soft h3,
.foreground__color--neutral-soft h4 {
  color: #edeadc;
}
.foreground__color--neutral-soft input,
.foreground__color--neutral-soft select,
.foreground__color--neutral-soft textarea {
  color: #3b3b3b;
}
.foreground__color--neutral-soft label,
.foreground__color--neutral-soft h5 {
  color: #edeadc;
}
.foreground__color--neutral-soft a {
  color: #edeadc;
}
.foreground__color--neutral-soft a:hover,
.foreground__color--neutral-soft .active {
  color: #3b3b3b;
  background-color: #fefdff;
}
.foreground__color--neutral-soft nav li a {
  color: #edeadc;
}
.foreground__color--neutral-soft nav a {
  color: #d8d8d8;
}
.foreground__color--neutral-soft nav li a:hover {
  color: #fefdff;
  background-color: transparent;
}
.foreground__color--secondary-loud {
  color: #ead1a5;
}
.foreground__color--secondary-loud h3 {
  color: #edeadc;
}
.foreground__color--secondary-loud h4 {
  color: #edeadc;
}
.foreground__color--secondary-loud h5 {
  color: #c00;
}
.foreground__color--secondary-loud a {
  color: #edeadc;
}
.foreground__color--secondary-loud span {
  color: #808080;
}
.foreground__color--secondary-loud li h5 {
  color: #900020;
}
.foreground__color--secondary-loud li > p {
  color: #3b3b3b;
}
.foreground__color--secondary-loud h5 span {
  color: #6c0018;
}
.foreground__color--secondary-soft {
  color: #3b3b3b;
}
.foreground__color--secondary-soft h3 {
  color: #6c0018;
}
.foreground__color--secondary-soft h4 {
  color: #900020;
}
.foreground__color--secondary-soft span {
  color: #edeadc;
}
.foreground__color--secondary-soft img {
  border-color: #fff;
}
.foreground__color--tertiary-loud {
  color: #465b00;
}
.foreground__color--tertiary-loud h3 {
  color: #edeadc;
}
.foreground__color--tertiary-loud h4 {
  color: #698800;
}
.foreground__color--tertiary-loud h5 {
  color: #d1e199;
}
.foreground__color--tertiary-loud span {
  color: #465b00;
  border-color: #edeadc;
}
.foreground__color--tertiary-loud a {
  color: #3b3b3b;
}
.foreground__color--tertiary-loud a:hover .icon--left {
  color: #fefdff;
}
.foreground__color--tertiary-loud a:hover .button {
  background-color: #fefdff;
}
a.link--fb {
  color: #4169e1;
}
a.link--tel {
  color: #8db600;
}
.foreground--error {
  color: #c00;
}
.foreground--success {
  color: #090;
}
#submit {
  color: #edeadc;
  text-shadow: 0px 1px 0px #1e1e1e;
  font-weight: 400;
}
.foreground__text-shadow--intensity-very-soft {
  text-shadow: 0px 0px 3px;
}
.foreground__text-shadow--intensity-soft {
  text-shadow: 0px 0px 3px;
}
.foreground__text-shadow--intensity-mod-soft {
  text-shadow: 0px 0px 3px;
}
.foreground__text-shadow--intensity-regular {
  text-shadow: 0px 0px 3px;
}
.foreground__text-shadow--intensity-mod-loud {
  text-shadow: 0px 0px 3px;
}
.foreground__text-shadow--intensity-loud {
  text-shadow: 0px 0px 3px;
}
.foreground__text-shadow--intensity-very-loud {
  text-shadow: 0px 0px 3px;
}
textarea#message {
  height: 150px;
}
#submit {
  border: none;
}
@font-face {
  font-family: 'no space';
  src: url("font/no_space.eot");
  src: url("font/no_space.eot?#iefix") format('embedded-opentype'), url("font/no_space.woff") format('woff'), url("font/no_space.ttf") format('truetype'), url("font/no_space.svg#NoSpace") format('svg');
}
.p {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-family: 'no space';
}
.p > * {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}
.p--1of1 {
  width: 100%;
}
.pp--1of1 > * {
  width: 100%;
}
.p-push--1of1 {
  margin-right: 100%;
}
.p-pull--1of1 {
  margin-right: -100%;
}
.pp--reverse {
  text-direction: rtl;
}
.pp--reverse > * {
  text-direction: ltr;
}
.pp--left {
  text-align: left;
}
.pp--right {
  text-align: right;
}
.pp--center {
  text-align: center;
}
.pp--justify {
  text-align: justify;
}
.pp--justify:after {
  content: "";
  width: 100%;
  display: inline-block;
}
.pp--top > * {
  vertical-align: top;
}
.pp--middle > * {
  vertical-align: middle;
}
.pp--bottom > * {
  vertical-align: bottom;
}
.pp--strecth {
  overflow: hidden;
}
.pp--strecth > * {
  margin-bottom: 999999px;
  padding-bottom: -999999 p;
}
.p--top {
  vertical-align: top;
}
.p--middle {
  vertical-align: middle;
}
.p--bottom {
  vertical-align: bottom;
}
@media only screen and (min-width: 768px) {
  .at-sm-p--1of1 {
    width: 100%;
  }
  .at-sm-pp--1of1 > * {
    width: 100%;
  }
  .at-sm-p-push--1of1 {
    margin-right: 100%;
  }
  .at-sm-p-pull--1of1 {
    margin-right: -100%;
  }
  .at-sm-pp--reverse {
    text-direction: rtl;
  }
  .at-sm-pp--reverse > * {
    text-direction: ltr;
  }
  .at-sm-pp--left {
    text-align: left;
  }
  .at-sm-pp--right {
    text-align: right;
  }
  .at-sm-pp--center {
    text-align: center;
  }
  .at-sm-pp--justify {
    text-align: justify;
  }
  .at-sm-pp--justify:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
  .at-sm-pp--top > * {
    vertical-align: top;
  }
  .at-sm-pp--middle > * {
    vertical-align: middle;
  }
  .at-sm-pp--bottom > * {
    vertical-align: bottom;
  }
  .at-sm-pp--strecth {
    overflow: hidden;
  }
  .at-sm-pp--strecth > * {
    margin-bottom: 999999px;
    padding-bottom: -999999 p;
  }
  .at-sm-p--top {
    vertical-align: top;
  }
  .at-sm-p--middle {
    vertical-align: middle;
  }
  .at-sm-p--bottom {
    vertical-align: bottom;
  }
}
@media only screen and (min-width: 992px) {
  .at-md-p--1of1 {
    width: 100%;
  }
  .at-md-pp--1of1 > * {
    width: 100%;
  }
  .at-md-p-push--1of1 {
    margin-right: 100%;
  }
  .at-md-p-pull--1of1 {
    margin-right: -100%;
  }
  .at-md-pp--reverse {
    text-direction: rtl;
  }
  .at-md-pp--reverse > * {
    text-direction: ltr;
  }
  .at-md-pp--left {
    text-align: left;
  }
  .at-md-pp--right {
    text-align: right;
  }
  .at-md-pp--center {
    text-align: center;
  }
  .at-md-pp--justify {
    text-align: justify;
  }
  .at-md-pp--justify:after {
    content: "";
    width: 100%;
    display: inline-block;
  }
  .at-md-pp--top > * {
    vertical-align: top;
  }
  .at-md-pp--middle > * {
    vertical-align: middle;
  }
  .at-md-pp--bottom > * {
    vertical-align: bottom;
  }
  .at-md-pp--strecth {
    overflow: hidden;
  }
  .at-md-pp--strecth > * {
    margin-bottom: 999999px;
    padding-bottom: -999999 p;
  }
  .at-md-p--top {
    vertical-align: top;
  }
  .at-md-p--middle {
    vertical-align: middle;
  }
  .at-md-p--bottom {
    vertical-align: bottom;
  }
}
.l-grid {
  display: block;
  max-width: 2272px;
  max-width: 142rem;
  padding: 0;
  width: auto;
}
.l {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.l-col--1-of-12 {
  width: 7.0422535211267%;
  margin-right: 1.4084507042254%;
}
.l-col--2-of-12 {
  width: 15.4929577464788%;
  margin-right: 1.4084507042254%;
}
.l-col--3-of-12 {
  width: 23.9436619718309%;
  margin-right: 1.4084507042254%;
}
.l-col--4-of-12 {
  width: 32.394366197183096%;
  margin-right: 1.4084507042254%;
}
.l-col--5-of-12 {
  width: 40.8450704225352%;
  margin-right: 1.4084507042254%;
}
.l-col--6-of-12 {
  width: 49.2957746478873%;
  margin-right: 1.4084507042254%;
}
.l-col--7-of-12 {
  width: 57.7464788732394%;
  margin-right: 1.4084507042254%;
}
.l-col--8-of-12 {
  width: 66.1971830985915%;
  margin-right: 1.4084507042254%;
}
.l-col--9-of-12 {
  width: 74.64788732394359%;
  margin-right: 1.4084507042254%;
}
.l-col--10-of-12 {
  width: 83.0985915492957%;
  margin-right: 1.4084507042254%;
}
.l-col--11-of-12 {
  width: 91.5492957746478%;
  margin-right: 1.4084507042254%;
}
.l-col--12-of-12 {
  width: 100%;
  margin-right: 0;
}
.l-col--1-of-6 {
  width: 14.2857142857142%;
  margin-right: 2.8571428571429%;
}
.l-col--2-of-6 {
  width: 31.428571428571406%;
  margin-right: 2.8571428571429%;
}
.l-col--3-of-6 {
  width: 48.571428571428505%;
  margin-right: 2.8571428571429%;
}
.l-col--4-of-6 {
  width: 65.71428571428571%;
  margin-right: 2.8571428571429%;
}
.l-col--5-of-6 {
  width: 82.85714285714279%;
  margin-right: 2.8571428571429%;
}
.l-col--6-of-6 {
  width: 99.9999999999999%;
  margin-right: 0;
}
.l-col--1-of-4 {
  width: 21.739130434782602%;
  margin-right: 4.3478260869565%;
}
.l-col--2-of-4 {
  width: 47.8260869565218%;
  margin-right: 4.3478260869565%;
}
.l-col--3-of-4 {
  width: 73.91304347826089%;
  margin-right: 4.3478260869565%;
}
.l-col--4-of-4 {
  width: 100%;
  margin-right: 0;
}
.l-col--1-of-3 {
  width: 29.411764705882298%;
  margin-right: 5.8823529411765%;
}
.l-col--2-of-3 {
  width: 64.70588235294119%;
  margin-right: 5.8823529411765%;
}
.l-col--3-of-3 {
  width: 99.99999999999999%;
  margin-right: 0;
}
.l--last {
  margin-right: 0;
}
.l {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  .l-col--1-of-12-sm {
    width: 7.0422535211267%;
    margin-right: 1.4084507042254%;
  }
  .l-col--2-of-12-sm {
    width: 15.4929577464788%;
    margin-right: 1.4084507042254%;
  }
  .l-col--3-of-12-sm {
    width: 23.9436619718309%;
    margin-right: 1.4084507042254%;
  }
  .l-col--4-of-12-sm {
    width: 32.394366197183096%;
    margin-right: 1.4084507042254%;
  }
  .l-col--5-of-12-sm {
    width: 40.8450704225352%;
    margin-right: 1.4084507042254%;
  }
  .l-col--6-of-12-sm {
    width: 49.2957746478873%;
    margin-right: 1.4084507042254%;
  }
  .l-col--7-of-12-sm {
    width: 57.7464788732394%;
    margin-right: 1.4084507042254%;
  }
  .l-col--8-of-12-sm {
    width: 66.1971830985915%;
    margin-right: 1.4084507042254%;
  }
  .l-col--9-of-12-sm {
    width: 74.64788732394359%;
    margin-right: 1.4084507042254%;
  }
  .l-col--10-of-12-sm {
    width: 83.0985915492957%;
    margin-right: 1.4084507042254%;
  }
  .l-col--11-of-12-sm {
    width: 91.5492957746478%;
    margin-right: 1.4084507042254%;
  }
  .l-col--12-of-12-sm {
    width: 100%;
    margin-right: 0;
  }
  .l-col--1-of-6-sm {
    width: 14.2857142857142%;
    margin-right: 2.8571428571429%;
  }
  .l-col--2-of-6-sm {
    width: 31.428571428571406%;
    margin-right: 2.8571428571429%;
  }
  .l-col--3-of-6-sm {
    width: 48.571428571428505%;
    margin-right: 2.8571428571429%;
  }
  .l-col--4-of-6-sm {
    width: 65.71428571428571%;
    margin-right: 2.8571428571429%;
  }
  .l-col--5-of-6-sm {
    width: 82.85714285714279%;
    margin-right: 2.8571428571429%;
  }
  .l-col--6-of-6-sm {
    width: 99.9999999999999%;
    margin-right: 0;
  }
  .l-col--1-of-4-sm {
    width: 21.739130434782602%;
    margin-right: 4.3478260869565%;
  }
  .l-col--2-of-4-sm {
    width: 47.8260869565218%;
    margin-right: 4.3478260869565%;
  }
  .l-col--3-of-4-sm {
    width: 73.91304347826089%;
    margin-right: 4.3478260869565%;
  }
  .l-col--4-of-4-sm {
    width: 100%;
    margin-right: 0;
  }
  .l-col--1-of-3-sm {
    width: 29.411764705882298%;
    margin-right: 5.8823529411765%;
  }
  .l-col--2-of-3-sm {
    width: 64.70588235294119%;
    margin-right: 5.8823529411765%;
  }
  .l-col--3-of-3-sm {
    width: 99.99999999999999%;
    margin-right: 0;
  }
  .l--last-sm {
    margin-right: 0;
  }
  .l-sm {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
}
@media only screen and (min-width: 992px) {
  .l-col--1-of-12-md {
    width: 7.0422535211267%;
    margin-right: 1.4084507042254%;
  }
  .l-col--2-of-12-md {
    width: 15.4929577464788%;
    margin-right: 1.4084507042254%;
  }
  .l-col--3-of-12-md {
    width: 23.9436619718309%;
    margin-right: 1.4084507042254%;
  }
  .l-col--4-of-12-md {
    width: 32.394366197183096%;
    margin-right: 1.4084507042254%;
  }
  .l-col--5-of-12-md {
    width: 40.8450704225352%;
    margin-right: 1.4084507042254%;
  }
  .l-col--6-of-12-md {
    width: 49.2957746478873%;
    margin-right: 1.4084507042254%;
  }
  .l-col--7-of-12-md {
    width: 57.7464788732394%;
    margin-right: 1.4084507042254%;
  }
  .l-col--8-of-12-md {
    width: 66.1971830985915%;
    margin-right: 1.4084507042254%;
  }
  .l-col--9-of-12-md {
    width: 74.64788732394359%;
    margin-right: 1.4084507042254%;
  }
  .l-col--10-of-12-md {
    width: 83.0985915492957%;
    margin-right: 1.4084507042254%;
  }
  .l-col--11-of-12-md {
    width: 91.5492957746478%;
    margin-right: 1.4084507042254%;
  }
  .l-col--12-of-12-md {
    width: 100%;
    margin-right: 0;
  }
  .l-col--1-of-6-md {
    width: 14.2857142857142%;
    margin-right: 2.8571428571429%;
  }
  .l-col--2-of-6-md {
    width: 31.428571428571406%;
    margin-right: 2.8571428571429%;
  }
  .l-col--3-of-6-md {
    width: 48.571428571428505%;
    margin-right: 2.8571428571429%;
  }
  .l-col--4-of-6-md {
    width: 65.71428571428571%;
    margin-right: 2.8571428571429%;
  }
  .l-col--5-of-6-md {
    width: 82.85714285714279%;
    margin-right: 2.8571428571429%;
  }
  .l-col--6-of-6-md {
    width: 99.9999999999999%;
    margin-right: 0;
  }
  .l-col--1-of-4-md {
    width: 21.739130434782602%;
    margin-right: 4.3478260869565%;
  }
  .l-col--2-of-4-md {
    width: 47.8260869565218%;
    margin-right: 4.3478260869565%;
  }
  .l-col--3-of-4-md {
    width: 73.91304347826089%;
    margin-right: 4.3478260869565%;
  }
  .l-col--4-of-4-md {
    width: 100%;
    margin-right: 0;
  }
  .l-col--1-of-3-md {
    width: 29.411764705882298%;
    margin-right: 5.8823529411765%;
  }
  .l-col--2-of-3-md {
    width: 64.70588235294119%;
    margin-right: 5.8823529411765%;
  }
  .l-col--3-of-3-md {
    width: 99.99999999999999%;
    margin-right: 0;
  }
  .l--last-md {
    margin-right: 0;
  }
  .l-md {
    display: inline-block;
    vertical-align: top;
    text-align: left;
  }
}
.l-items--dsp-col > * {
  display: block;
}
.l-items--dsp-row > * {
  display: inline-block;
}
.l-self--dsp-col {
  display: block;
}
.l-self--relative {
  position: relative;
  z-index: 5;
}
.l-grid--align-center {
  margin: 0 auto;
}
.l-items--dsp-col.l-items--align-right > * {
  margin-right: 0;
  margin-left: auto;
}
.l-items--align-right {
  text-align: right;
}
.l-items--align-right > * {
  text-align: left;
}
.l-self--align-right {
  text-align: right;
}
.l--align-center {
  text-align: center;
}
.l-items--align-middle > * {
  vertical-align: middle;
}
.l-self--align-bottom {
  vertical-align: bottom;
}
.l-self--align-middle {
  vertical-align: middle;
}
.l-items--rev-dir {
  direction: rtl;
}
.l--fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}
.l--fixed-right-middle {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99999;
}
.l--absolute-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.l--absolute-bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
.l--absolute-top-right {
  position: absolute;
  top: 0;
  right: 0;
}
.l--absolute-top-left {
  position: absolute;
  top: 0;
  left: 0;
}
.l--absolute-middle {
  position: absolute;
  top: 30%;
}
.list--no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}
.list--no-style li {
  list-style: none;
}
.list--horizontal li {
  display: inline-block;
  padding-left: 1.5em;
}
.spacer__padding-left--size-xsmall {
  padding-left: 0.375em;
}
.spacer__padding-right--size-xsmall {
  padding-right: 0.375em;
}
.spacer__padding-top--size-xsmall {
  padding-top: 0.375em;
}
.spacer__padding-bottom--size-xsmall {
  padding-bottom: 0.375em;
}
.spacer__margin-left--size-xsmall {
  margin-left: 6px;
  margin-left: 0.375rem;
}
.spacer__margin-right--size-xsmall {
  margin-right: 6px;
  margin-right: 0.375rem;
}
.spacer__margin-top--size-xsmall {
  margin-top: 6px;
  margin-top: 0.375rem;
}
.spacer__margin-bottom--size-xsmall {
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}
.spacer__padding-left--size-small {
  padding-left: 0.75em;
}
.spacer__padding-right--size-small {
  padding-right: 0.75em;
}
.spacer__padding-top--size-small {
  padding-top: 0.75em;
}
.spacer__padding-bottom--size-small {
  padding-bottom: 0.75em;
}
.spacer__margin-left--size-small {
  margin-left: 12px;
  margin-left: 0.75rem;
}
.spacer__margin-right--size-small {
  margin-right: 12px;
  margin-right: 0.75rem;
}
.spacer__margin-top--size-small {
  margin-top: 12px;
  margin-top: 0.75rem;
}
.spacer__margin-bottom--size-small {
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
}
.spacer__padding-left--size-medium {
  padding-left: 1.125em;
}
.spacer__padding-right--size-medium {
  padding-right: 1.125em;
}
.spacer__padding-top--size-medium {
  padding-top: 1.125em;
}
.spacer__padding-bottom--size-medium {
  padding-bottom: 1.125em;
}
.spacer__margin-left--size-medium {
  margin-left: 18px;
  margin-left: 1.125rem;
}
.spacer__margin-right--size-medium {
  margin-right: 18px;
  margin-right: 1.125rem;
}
.spacer__margin-top--size-medium {
  margin-top: 18px;
  margin-top: 1.125rem;
}
.spacer__margin-bottom--size-medium {
  margin-bottom: 18px;
  margin-bottom: 1.125rem;
}
.spacer__padding-left--size-large {
  padding-left: 1.5em;
}
.spacer__padding-right--size-large {
  padding-right: 1.5em;
}
.spacer__padding-top--size-large {
  padding-top: 1.5em;
}
.spacer__padding-bottom--size-large {
  padding-bottom: 1.5em;
}
.spacer__margin-left--size-large {
  margin-left: 24px;
  margin-left: 1.5rem;
}
.spacer__margin-right--size-large {
  margin-right: 24px;
  margin-right: 1.5rem;
}
.spacer__margin-top--size-large {
  margin-top: 24px;
  margin-top: 1.5rem;
}
.spacer__margin-bottom--size-large {
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
}
.spacer__padding-left--size-xlarge {
  padding-left: 2.25em;
}
.spacer__padding-right--size-xlarge {
  padding-right: 2.25em;
}
.spacer__padding-top--size-xlarge {
  padding-top: 2.25em;
}
.spacer__padding-bottom--size-xlarge {
  padding-bottom: 2.25em;
}
.spacer__margin-left--size-xlarge {
  margin-left: 36px;
  margin-left: 2.25rem;
}
.spacer__margin-right--size-xlarge {
  margin-right: 36px;
  margin-right: 2.25rem;
}
.spacer__margin-top--size-xlarge {
  margin-top: 36px;
  margin-top: 2.25rem;
}
.spacer__margin-bottom--size-xlarge {
  margin-bottom: 36px;
  margin-bottom: 2.25rem;
}
.spacer__padding-left--size-xxlarge {
  padding-left: 3em;
}
.spacer__padding-right--size-xxlarge {
  padding-right: 3em;
}
.spacer__padding-top--size-xxlarge {
  padding-top: 3em;
}
.spacer__padding-bottom--size-xxlarge {
  padding-bottom: 3em;
}
.spacer__margin-left--size-xxlarge {
  margin-left: 48px;
  margin-left: 3rem;
}
.spacer__margin-right--size-xxlarge {
  margin-right: 48px;
  margin-right: 3rem;
}
.spacer__margin-top--size-xxlarge {
  margin-top: 48px;
  margin-top: 3rem;
}
.spacer__margin-bottom--size-xxlarge {
  margin-bottom: 48px;
  margin-bottom: 3rem;
}
.spacer__padding-left--size-xxxlarge {
  padding-left: 3.75em;
}
.spacer__padding-right--size-xxxlarge {
  padding-right: 3.75em;
}
.spacer__padding-top--size-xxxlarge {
  padding-top: 3.75em;
}
.spacer__padding-bottom--size-xxxlarge {
  padding-bottom: 3.75em;
}
.spacer__margin-left--size-xxxlarge {
  margin-left: 60px;
  margin-left: 3.75rem;
}
.spacer__margin-right--size-xxxlarge {
  margin-right: 60px;
  margin-right: 3.75rem;
}
.spacer__margin-top--size-xxxlarge {
  margin-top: 60px;
  margin-top: 3.75rem;
}
.spacer__margin-bottom--size-xxxlarge {
  margin-bottom: 60px;
  margin-bottom: 3.75rem;
}
html {
  font-size: 87.5%;
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (min-width: 992px) {
  html {
    font-size: 112.5%;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.reading-text h2 {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-weight: 300;
}
.reading-text h2::first-letter {
  font-weight: 700;
  font-size: 60px;
  font-size: 3.75rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
.reading-text h3 {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-weight: 300;
}
.reading-text h3 span {
  font-size: 48px;
  font-size: 3rem;
  line-height: 0.75;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
.reading-text h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  margin-bottom: 12px;
  margin-bottom: 0.75rem;
  font-weight: 300;
}
.reading-text h5 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.428571428571429;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
  font-weight: 300;
}
.reading-text a {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
.reading-text p {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
.reading-text p.text--small {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.714285714285714;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
.reading-text h4 span {
  height: 100%;
}
.reading-text abbr {
  font-variant: small-caps;
}
.reading-text nav li a {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.714285714285714;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}
.reading-text figcaption {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.714285714285714;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 700;
}
.reading-text strong {
  font-weight: 400;
}
.reading-text .font--secondary {
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}
.catalog__text h4 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}
.catalog__text h5 {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.142857142857143;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
.catalog__text p {
  font-style: italic;
  font-weight: 400;
}
.catalog__text p b {
  font-weight: 700;
  font-style: normal;
}
.catalog__text span {
  font-size: 1.125rem;
}
.catalog__text span.text--xlarge {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.5;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
}
.catalog__text li p {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.714285714285714;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  margin-bottom: 6px;
  margin-bottom: 0.375rem;
}
.blockquote--large p {
  font-style: italic;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
.table-text th {
  font-size: 21px;
  font-size: 1.3125rem;
  line-height: 1.428571428571429;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
.table-text td {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 700;
}
.table-text span {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.714285714285714;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.table-text p {
  font-weight: 400;
}
label {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.666666666666667;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 300;
}
input,
select {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.666666666666667;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
textarea {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
#submit {
  text-transform: uppercase;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
span.flash__msg {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.666666666666667;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 400;
}
.font--large {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.8) url("/images/ajax-loader.gif") 50% 50% no-repeat;
}
body.loading {
  overflow: hidden;
}
body.loading .modal {
  display: block;
}
#popForm {
  display: none;
}
#status {
  display: none;
}
#sendText {
  display: none;
}
.catalog__item img {
  height: 10em;
}
input[type=checkbox] {
  display: none;
}
label {
  display: inline;
}
.regular-checkbox + label {
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.regular-checkbox + label:active,
.regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
.regular-checkbox:checked + label {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}
.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: -7px;
  left: 3px;
  color: #99a1a7;
}
.big-checkbox + label {
  padding: 18px;
}
.big-checkbox:checked + label:after {
  font-size: 28px;
  left: 6px;
}
.img--full-size {
  width: 100%;
}
.polaroid a:after {
  content: attr(title);
}
.polaroid--frame {
  background-color: #fff;
  padding: 10px;
}
.polaroid li {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  background-color: #fff;
  padding: 10px;
}
.polaroid li:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
.polaroid li:nth-child(3n) {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
.polaroid li:nth-child(5n) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}
.polaroid li:nth-child(8n) {
  position: relative;
  top: 8px;
  right: 5px;
}
.polaroid li:nth-child(11n) {
  position: relative;
  top: 3px;
  left: -5px;
}
.polaroid li:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}
.polaroid li {
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.25);
}
.polaroid li {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  box-shadow: 0 3px 6px rgba(0,0,0,0.5);
}
@font-face {
  font-family: 'icons';
  src: url("/web-fonts/font-icons/icons.eot");
  src: url("/web-fonts/font-icons/icons.eot?#iefix") format('embedded-opentype'), url("/web-fonts/font-icons/icons.woff") format('woff'), url("/web-fonts/font-icons/icons.ttf") format('truetype'), url("/web-fonts/font-icons/icons.svg#icons") format('svg');
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: icons;
  line-height: 1;
  content: " " attr(data-icon);
  speak: none;
}
.icon--left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  box-shadow: -1px 0 0 0 rgba(0,0,0,0.2) inset;
}
.icon--right {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}
.icon--big {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  line-height: 1;
  width: 1.2em;
  height: 1em;
  text-align: center;
  display: inline-block;
}
.icon--xbig {
  font-size: 48px;
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  line-height: 1;
  width: 1.2em;
  height: 1em;
  text-align: center;
  display: inline-block;
}
.icon--xsmall {
  width: 1em;
}
.quote__symbol:after {
  content: '\275e';
  font-size: 72px;
  font-size: 4.5rem;
  line-height: 1;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
}
.button--icon {
  padding: 1em;
}
#location-map {
  height: 14.4375em;
}
@media only screen and (min-width: 768px) {
  #location-map {
    height: 26.25em;
  }
}
#nav__container {
  position: relative;
}
#menu-icon {
  position: absolute;
  right: 0;
  z-index: 1001;
}
a#menu-icon:hover,
a#menu-icon:focus {
  color: #fff;
}
#menu {
  padding-top: 2.25em;
}
#menu li a {
  text-shadow: none;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  text-align: left;
}
body:not(:target) #menu {
  position: relative;
  right: 0;
  left: 0;
  z-index: 1000;
}
body:not(:target) #menu li {
  width: 100%;
  height: 0;
  line-height: 0;
  overflow: hidden;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;
}
body:not(:target) #menu:target {
  z-index: 1001;
}
body:not(:target) #menu:target li {
  height: 2em;
  line-height: auto;
  overflow: visible;
  -webkit-transition: height 0.25s;
  -moz-transition: height 0.25s;
  -o-transition: height 0.25s;
  transition: height 0.25s;
}
body:not(:target) #menu:target .back {
  height: 0;
  line-height: 0;
}
body:not(:target) #menu:target .back a {
  width: 100%;
  background-color: transparent;
  border: none;
  height: auto;
  position: absolute;
  top: -101em;
  bottom: -101em;
  left: 0;
  right: 0;
  text-indent: -999em;
  z-index: -1;
}
@media only screen and (min-width: 768px) {
  #menu {
    padding-top: 0.75em;
  }
  #menu li a {
    border-bottom: none;
    height: auto;
    background-color: transparent;
  }
  #menu li a:hover {
    color: inherit;
    background-color: transparent;
  }
  body:not(:target) #menu {
    position: relative;
  }
  body:not(:target) #menu li {
    display: inline-block;
    border: none;
    height: 100%;
    width: auto;
    line-height: inherit;
  }
  body:not(:target) #menu .back {
    display: none;
  }
  a#menu-icon {
    display: none;
  }
}
section {
  position: relative;
}
section::before,
section::after {
  position: absolute;
  content: '';
}
.overflow--hidden {
  overflow: hidden;
}
.separator--style-halfcircle::before,
.separator--style-halfcircle::after {
  left: 50%;
  z-index: 10;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: inherit;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.separator--style-halfcircle::before {
  top: -50px;
}
.separator--style-halfcircle::after {
  bottom: -50px;
}
.separator--style-triangles::before,
.separator--style-triangles::after {
  left: 50%;
  width: 80px;
  height: 80px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.separator--style-triangles::before {
  top: -40px;
  background: inherit;
}
.separator--style-triangles::after {
  bottom: -40px;
  z-index: 10;
  background: inherit;
}
.separator--style-multitriangles::before,
.separator--style-multitriangles::after {
  left: 50%;
  width: 50px;
  height: 50px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
}
.separator--style-multitriangles::before {
  top: -25px;
  background: inherit;
  box-shadow: -50px 50px 0 #8db600, 50px -50px 0 #8db600;
}
.separator--style-multitriangles::after {
  bottom: -25px;
  z-index: 10;
  background: inherit;
  box-shadow: -50px 50px 0 #8db600, 50px -50px 0 #8db600;
}
.separator--style-boxes {
  padding-top: 4em;
  padding-bottom: 13em;
}
.separator--style-boxes::before {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: -webkit-gradient(linear, 100% 0, 0 100%, color-stop(0.5, #3498db), color-stop(0.5, #2980b9));
  background-image: linear-gradient(to right, #3498db 50%, #2980b9 50%);
  -webkit-background-size: 130px 100%;
  background-size: 130px 100%;
}
.separator--style-roundedsplit::before,
.separator--style-roundedsplit::after {
  top: -70px;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 70px;
  background: inherit;
}
.separator--style-roundedsplit::before {
  border-radius: 0 80px 0 0;
}
.separator--style-roundedsplit::after {
  left: 50%;
  border-radius: 80px 0 0 0;
}
.separator--style-doublediagonal {
  z-index: 1;
  background: #808080;
}
.separator--style-doublediagonal::before,
.separator--style-doublediagonal::after {
  top: 0;
  left: -25%;
  z-index: -1;
  width: 150%;
  height: 75%;
  background: inherit;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
.separator--style-doublediagonal::before {
  height: 50%;
  background: #3b3b3b;
  -webkit-transform: rotate(-3deg);
  transform: rotate(-3deg);
  -webkit-transform-origin: 3% 0;
  transform-origin: 3% 0;
}
svg {
  display: block;
  position: relative;
  top: 1px;
}
#clouds path,
#curveDownColor path {
  fill: #d8d8d8;
  stroke: #d8d8d8;
}
.slideshow {
  position: relative;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}
.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}
.rslides_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  bottom: 40%;
  left: 0;
  z-index: 99;
  padding: 5px;
  opacity: 0.7;
  overflow: hidden;
  text-decoration: none;
}
.rslides_nav:active {
  opacity: 1;
}
.rslides_nav.next:before {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.5;
  font-family: icons;
  content: "\e61f";
  color: #fefefe;
}
.rslides_nav.prev:before {
  font-size: 36px;
  font-size: 2.25rem;
  line-height: 1.5;
  font-family: icons;
  content: "\e622";
  color: #fefefe;
}
.rslides_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
}
.slideshow__caption {
  position: absolute;
  display: block;
  bottom: 0em;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: center;
  background: #000;
  background: rgba(0,0,0,0.5);
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  font-weight: 400;
}
.tab input[type=radio] {
  display: none;
}
.tabs {
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
}
.tab {
  z-index: 6;
}
.tab__label {
  display: block;
  padding: 10px 20px;
  border-radius: 2px 2px 0 0;
  color: #fefefe;
  font-weight: normal;
  background: #6c0018;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.714285714285714;
  font-family: "Open Sans", Helvetica, Verdana, Arial, sans-serif;
  cursor: pointer;
  position: absolute;
  top: -3em;
  z-index: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tab__label-2 {
  left: 6.5em;
  z-index: 1;
}
.tab__label:hover {
  background: #9f1d35;
  color: #fefefe;
}
[id^=tab]:checked + label {
  background: #d8d8d8;
  color: #1e1e1e;
  top: -2.7em;
  z-index: 2;
}
.tab__content {
  z-index: -1;
  padding-top: 3em;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.tab__content-2 {
  position: absolute;
  padding-top: 5em;
}
[id^=tab]:checked ~ [id^=tab__content] {
  z-index: 2;
}
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  background: #333;
  background: rgba(0,0,0,0.8);
  border-radius: 5px;
  top: 0;
  color: #fff;
  content: attr(title);
  left: 0;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
}
#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  overflow: hidden;
}
/***/
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure {
  margin: 0;
}
